h3 {
    color: rgb(87, 216, 255);
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1 {
    font-family: 'Georgia', sans-serif;
}
img {
    width: 600px;
    height: 400px;
    border-radius: 40px;
}
p {
    font-family: 'Montserrat', sans-serif;
}
p::selection {
    background-color: aqua;
}
.no-underline {
    text-decoration: none;
}
.button {
    background-color: blueviolet;
    color: white;
    padding: 4px;
    border-radius: 20px;
}
a:link {
    color: blue;
}
a:visited {
    color: darkorange;
}
a:hover {
    color: burlywood;
    background-color: crimson;
}
a:active {
    color: cyan;
    background-color: darkmagenta;
}
.news {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 600px);
}